<footer class="pt-10 pt-lg-14 pb-11 footer">
  <div class="container container-xl">
    <div class="row">
      <div class="col-lg col-md-4 col-12 mb-7 mb-lg-0">
        <h3 class="fs-20 mb-3 titles">Company</h3>
        <p class="fs-14 lh-185 pr-xl-12">
          Find a location nearest you. See
          <a class="font-weight-600" href="shop-page-02.html#">
            <u>Our Stores</u>
          </a>
        </p>
        <p class="fs-14 lh-185 mb-0">
          <strong class="text-secondary">+391 (0)35 2568 4593</strong>
          <br />
          hello@domain.com
        </p>
      </div>
      <div class="col-lg col-md-4 col-12 mb-7 mb-lg-0">
        <h3 class="fs-20 mb-3 titles">Useful links</h3>
        <ul class="list-unstyled mb-0">
          <li class="pb-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              New Products
            </a>
          </li>
          <li class="py-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Best Sellers
            </a>
          </li>
          <li class="py-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Bundle & Save
            </a>
          </li>
          <li class="pt-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Online Gift Card
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-4 col-12 mb-7 mb-lg-0">
        <h3 class="fs-20 mb-3 titles">Infomation</h3>
        <ul class="list-unstyled mb-0">
          <li class="pb-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Start a Return
            </a>
          </li>
          <li class="py-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Contact Us
            </a>
          </li>
          <li class="py-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Shipping FAQ
            </a>
          </li>
          <li class="py-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Terms & Conditions
            </a>
          </li>
          <li class="pt-1">
            <a href="shop-page-02.html#" class="text-body lh-175">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-12 mb-9 mb-lg-0">
        <h3 class="mb-2 titles">Good emails.</h3>
        <p class="lh-2">
          Enter your email below to be the first to know about new collections
          and product launches.
        </p>
        <form class="pt-4">
          <div class="input-group position-relative">
            <input
              type="email"
              class="form-control bg-white rounded-left"
              placeholder="Enter your email address"
            />
            <button
              type="submit"
              class="btn btn-secondary bg-hover-primary border-hover-primary"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-0 mt-lg-15 align-items-center">
      <div
        class="col-12 col-md-6 col-lg-4 d-flex align-items-center order-2 order-lg-1 mt-4 mt-md-7 mt-lg-0"
      >
        <p class="mb-0">© Jamil Jewelry {{ now | date('Y')}}</p>
        <ul class="list-inline fs-18 ml-3 mb-0">
          <li class="list-inline-item mr-4">
            <a href="shop-page-02.html#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="shop-page-02.html#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="shop-page-02.html#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="shop-page-02.html#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 text-md-center order-1 order-lg-2">
        <img src="{{ 'assets/images/logo.svg' | theme }}" alt="JJ" />
      </div>
    </div>
  </div>
</footer>
