<header class="main-header navbar-light header-sticky header-sticky-smart position-absolute fixed-top">
  <div class="sticky-area сontainer-fluid">
    <div class="container container-xxl">
      <nav class="navbar navbar-expand-xl px-0 d-block">
        <div class="d-none d-xl-block">
          <div class="d-flex align-items-center flex-nowrap">
            <div class="w-50">
              <div class="d-flex mt-3 mt-xl-0 align-items-center w-100">
                <a class="navbar-brand d-inline-block py-0" href="index.html">
                  <img src="{{ 'assets/images/logo.svg' | theme }}" alt="Glowing" style="max-width: 125%;" />
                </a>
              </div>
            </div>
            <div class="flex-shrink-0 mx-auto">
              <ul class="navbar-nav hover-menu main-menu px-0 mx-xl-n5">
                <li aria-haspopup="true" aria-expanded="false" class="nav-item py-2 py-xl-7 px-0 px-xl-5">
                  <a class="nav-link p-0" href="{{ 'home' | page }}">
                    Home
                  </a>
                </li>

                <li aria-haspopup="true" aria-expanded="false"
                  class="nav-item  py-2 py-xl-7 px-0 px-xl-5">
                  <a class="nav-link p-0 text-white"
                    href="{{ 'shop' | page }}">
                    Catalogue
                    <span class="caret"></span>
                  </a>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item py-2 py-xl-7 px-0 px-xl-5">
                  <a class="nav-link p-0" href="{{ 'about' | page }}">
                    About
                  </a>
                </li>
                <!-- <li
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="nav-item dropdown-item-blog dropdown py-2 py-xl-7 px-0 px-xl-5"
                >
                  <a
                    class="nav-link dropdown-toggle p-0"
                    href="home-09.html#"
                    data-toggle="dropdown"
                  >
                    Blog
                    <span class="caret"></span>
                  </a>
                  <ul
                    class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp"
                  >
                    <li class="dropdown-item dropdown dropright">
                      <a
                        class="dropdown-link dropdown-toggle"
                        href="home-09.html#"
                        data-toggle="dropdown"
                      >
                        Blog Listing
                      </a>
                      <ul
                        class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft"
                      >
                        <li class="dropdown-item">
                          <a class="dropdown-link" href="blog-grid.html">
                            Blog Grid
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a
                            class="dropdown-link"
                            href="blog-grid-sidebar.html"
                          >
                            Blog Grid Sidebar
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a class="dropdown-link" href="blog-masonry.html">
                            Blog Masonsy
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a class="dropdown-link" href="blog-list.html">
                            Blog List
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a class="dropdown-link" href="blog-classic.html">
                            Blog Classic
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-item dropdown dropright">
                      <a
                        class="dropdown-link dropdown-toggle"
                        href="home-09.html#"
                        data-toggle="dropdown"
                      >
                        Blog Detail
                      </a>
                      <ul
                        class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft"
                      >
                        <li class="dropdown-item">
                          <a class="dropdown-link" href="blog-detail-01.html">
                            Blog Detail 01
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a class="dropdown-link" href="blog-detail-02.html">
                            Blog Detail 02
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li> -->
                <li aria-haspopup="true" aria-expanded="false" class="nav-item py-2 py-xl-7 px-0 px-xl-5">
                  <a class="nav-link p-0" href="{{ 'contact' | page }}">
                    Contact me
                  </a>
                </li>
              </ul>
            </div>
            <div class="w-50">
              <div class="d-flex align-items-center justify-content-end">
                <ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
                  <li class="nav-item">
                    <div class="dropdown lh-1 rounded ml-lg-5 ml-0" style="background-color: #f5f5f5;">
                      <a href="#" class="dropdown-toggle custom-dropdown-toggle text-decoration-none text-secondary p-3 pr-7 position-relative d-block" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          EN
                      </a>
                      <div class="dropdown-menu custom-dropdown-item" aria-labelledby="dropdownMenuButton" style="">
                          <a class="dropdown-item" href="#">
                              AZ
                          </a>
                          <a class="dropdown-item" href="#">
                              RU
                          </a>
                      </div>
                  </div>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link position-relative px-4 py-0" href="wishlist.html">
                      <svg class="icon icon-star-light">
                        <use xlink:href="#icon-star-light"></use>
                      </svg>
                      <span class="position-absolute number">0</span>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center d-xl-none">
          <button class="navbar-toggler border-0 px-0 canvas-toggle text-white" type="button" data-canvas="true"
            data-canvas-options='{"width":"250px","container":".sidenav"}'>
            <span class="fs-24 toggle-icon"></span>
          </button>
          <div class="mx-auto">
            <a class="navbar-brand d-inline-block mr-0 py-5" href="index.html">
              <img src="{{ 'assets/images/logo.svg' | theme }}" alt="Glowing" />
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>