<div class="sidenav canvas-sidebar bg-white">
  <div class="canvas-overlay"></div>
  <div class="pt-5 pb-7 card border-0 h-100 bg-brown">
    <div class="d-flex align-items-center card-header border-0 py-0 pl-8 pr-7 mb-9 bg-transparent">
      <a href="index.html" class="d-block w-179px">
        <img src="{{ 'assets/images/logo.svg' | theme }}" alt="Glowing" />
      </a>
      <span class="canvas-close d-inline-block text-right fs-24 ml-auto lh-1 text-primary">
        <i class="fal fa-times"></i>
      </span>
    </div>
    <div class="overflow-y-auto pb-6 pl-8 pr-7 card-body pt-0">
      <ul class="navbar-nav main-menu px-0">
        <li aria-haspopup="true" aria-expanded="false" class="nav-item py-1 px-0">
          <a class="nav-link p-0" href="{{ 'home' | page }}">
            Home
            <span class="caret"></span>
          </a>
        </li>
        <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
          <a class="nav-link dropdown-toggle p-0" href="{{ 'shop' | page }}">
            Cataloge
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu p-0 dropdown-menu-listing x-animated x-fadeInUp">
            <h4 class="dropdown-header text-secondary fs-16 my-3">
              Shop Pages
            </h4>

            <div class="dropdown-item">
              <a class="dropdown-link" href="shop-page-01.html">
                Shop Layout
                <sup>V1</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="shop-page-02.html">
                Shop Layout
                <sup>V2</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="shop-page-03.html">
                Shop Layout
                <sup>V3</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="shop-page-04.html">
                Shop Layout
                <sup>V4</sup>
              </a>
            </div>

            <div class="dropdown-item">
              <a class="dropdown-link" href="shop-page-05.html">
                Shop Layout
                <sup>V5</sup>
              </a>
            </div>

            <h4 class="dropdown-header text-secondary fs-16 my-3">
              Product Page
            </h4>

            <div class="dropdown-item">
              <a class="dropdown-link" href="http://templates.g5plus.net/glowing/product-page-01.html">
                Product Detail
                <sup>V1</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-02.html">
                Product Detail
                <sup>V2</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-03.html">
                Product Detail
                <sup>V3</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-04.html">
                Product Detail
                <sup>V4</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-05.html">
                Product Detail
                <sup>V5</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-06.html">
                Product Detail
                <sup>V6</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-07.html">
                Product Detail
                <sup>V7</sup>
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-08.html">
                Product Detail
                <sup>V8</sup>
              </a>
            </div>

            <h4 class="dropdown-header text-secondary fs-16 my-3">
              Product Type
            </h4>

            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-04.html">
                Product Simple
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-05.html">
                Product Variable
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-06.html">
                Product Time Limit
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="product-detail-08.html">
                Product Grouped
              </a>
            </div>
            <h4 class="dropdown-header text-secondary fs-16 my-3">
              Shop Page
            </h4>

            <div class="dropdown-item">
              <a class="dropdown-link" href="shopping-cart.html">
                Shopping Cart
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="compare.html">
                Compare
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="wishlist.html">
                Wishlist
              </a>
            </div>
            <div class="dropdown-item">
              <a class="dropdown-link" href="checkout.html">
                Checkout
              </a>
            </div>
          </div>
        </li>
        <li aria-haspopup="true" aria-expanded="false" class="nav-item py-1 px-0">
          <a class="nav-link p-0" href="{{ 'about' | page }}">
            About
          </a>
        </li>
        <!-- <li
            aria-haspopup="true"
            aria-expanded="false"
            class="nav-item dropdown py-1 px-0"
          >
            <a
              class="nav-link dropdown-toggle p-0"
              href="shop-page-02.html#"
              data-toggle="dropdown"
            >
              Blog
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-grid.html">
                  Blog Grid
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-grid-sidebar.html">
                  Blog Grid Sidebar
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-masonry.html">
                  Blog Masonsy
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-list.html">
                  Blog List
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-classic.html">
                  Blog Classic
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-detail-01.html">
                  Blog Detail 01
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="blog-detail-02.html">
                  Blog Detail 02
                </a>
              </li>
            </ul>
          </li> -->
        <li aria-haspopup="true" aria-expanded="false" class="nav-item py-1 px-0">
          <a class="nav-link p-0" href="{{ 'contact' | page }}">
            Contact me
          </a>
        </li>
      </ul>
    </div>
    <div class="card-footer bg-transparent border-0 mt-auto pl-8 pr-7 pb-0 pt-4">
      <ul class="list-inline d-flex align-items-center mb-3">
        <li class="list-inline-item mr-4">
          <a href="shop-page-02.html#" class="fs-20 lh-1">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </li>
        <li class="list-inline-item mr-4">
          <a href="shop-page-02.html#" class="fs-20 lh-1">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item mr-4">
          <a href="shop-page-02.html#" class="fs-20 lh-1">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="shop-page-02.html#" class="fs-20 lh-1">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
      <p class="mb-0 text-gray">
        © 2021 Glowing.
        <br />
        All rights reserved.
      </p>
    </div>
  </div>
</div>